<a href="https://colab.research.google.com/github/Aiswariar/dataset_cleaning/blob/main/week3_project1_DAB3131.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
import numpy as np
import pandas as pd

In [11]:
Dataset = pd.read_csv('/content/Data-cleaning-for-beginners-using-pandas (1).csv')

In [12]:
Dataset.head(10)

   Index   Age     Salary  Rating       Location  Established Easy Apply
0      0  44.0  $44k-$99k     5.4       India,In         1999       TRUE
1      1  66.0  $55k-$66k     3.5    New York,Ny         2002       TRUE
2      2   NaN  $77k-$89k    -1.0    New York,Ny           -1         -1
3      3  64.0  $44k-$99k     4.4       India In         1988         -1
4      4  25.0  $44k-$99k     6.4  Australia Aus         2002         -1
5      5  44.0  $77k-$89k     1.4       India,In         1999       TRUE
6      6  21.0  $44k-$99k     0.0    New York,Ny           -1         -1
7      7  44.0  $44k-$99k    -1.0  Australia Aus           -1         -1
8      8  35.0  $44k-$99k     5.4    New York,Ny           -1         -1
9      9  22.0  $44k-$99k     7.7       India,In           -1       TRUE

In [13]:
Dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Index        29 non-null     int64
 1   Age          22 non-null     float64
 2   Salary       29 non-null     object
 3   Rating       28 non-null     float64
 4   Location     29 non-null     object
 5   Established  29 non-null     int64
 6   Easy Apply   29 non-null     object
dtypes: float64(2), int64(2), object(3)
memory usage: 1.7+ KB

In [14]:
Dataset.shape

(29, 7)

In [15]:
Dataset.isna().sum()

Index          0
Age            7
Salary         0
Rating         1
Location       0
Established    0
Easy Apply     0
dtype: int64

In [16]:
avg = Dataset['Age'].median()
print (avg)

39.5

In [17]:
Dataset['Age']=Dataset['Age'].fillna(avg )

In [18]:
Dataset.isna().sum()

Index          0
Age            0
Salary         0
Rating         1
Location       0
Established    0
Easy Apply     0
dtype: int64

In [19]:
Dataset.head(11)

    Index   Age     Salary  Rating       Location  Established Easy Apply
0       0  44.0  $44k-$99k     5.4       India,In         1999       TRUE
1       1  66.0  $55k-$66k     3.5    New York,Ny         2002       TRUE
2       2  39.5  $77k-$89k    -1.0    New York,Ny           -1         -1
3       3  64.0  $44k-$99k     4.4       India In         1988         -1
4       4  25.0  $44k-$99k     6.4  Australia Aus         2002         -1
5       5  44.0  $77k-$89k     1.4       India,In         1999       TRUE
6       6  21.0  $44k-$99k     0.0    New York,Ny           -1         -1
7       7  44.0  $44k-$99k    -1.0  Australia Aus           -1         -1
8       8  35.0  $44k-$99k     5.4    New York,Ny           -1         -1
9       9  22.0  $44k-$99k     7.7       India,In           -1       TRUE
10     10  55.0  $10k-$49k     5.4       India,In         2008       TRUE

In [20]:
Dataset.sample(11)

    Index   Age     Salary  Rating       Location  Established Easy Apply
28     28  39.5  $39k-$88k     3.4  Australia Aus         1932         -1
24     24  13.0  $44k-$99k    -1.0    New York,Ny         1987         -1
6       6  21.0  $44k-$99k     0.0    New York,Ny           -1         -1
22     22  19.0  $55k-$66k     7.8    New York,Ny         1988       TRUE
17     17  39.5  $44k-$99k     5.3    New York,Ny         1943       TRUE
3       3  64.0  $44k-$99k     4.4       India In         1988         -1
5       5  44.0  $77k-$89k     1.4       India,In         1999       TRUE
26     26  39.5  $55k-$66k     NaN       India,In         1934       TRUE
13     13  25.0  $44k-$99k    -1.0  Australia Aus         2019       TRUE
20     20  39.5  $44k-$99k     5.7    New York,Ny         1944       TRUE
7       7  44.0  $44k-$99k    -1.0  Australia Aus           -1         -1

In [21]:
Dataset['Age']=Dataset['Age'].round().astype(object)

In [22]:
Dataset.isna().sum()

Index          0
Age            0
Salary         0
Rating         1
Location       0
Established    0
Easy Apply     0
dtype: int64

In [23]:
Dataset.sample(11)

    Index   Age     Salary  Rating       Location  Established Easy Apply
25     25  55.0  $44k-$99k     0.0  Australia Aus         1980       TRUE
13     13  25.0  $44k-$99k    -1.0  Australia Aus         2019       TRUE
23     23  40.0  $44k-$99k     2.4    New York,Ny         1999       TRUE
28     28  40.0  $39k-$88k     3.4  Australia Aus         1932         -1
16     16  19.0  $19k-$40k     4.5       India,In         1984         -1
19     19  32.0  $44k-$99k     3.3    New York,Ny         1955       TRUE
8       8  35.0  $44k-$99k     5.4    New York,Ny           -1         -1
20     20  40.0  $44k-$99k     5.7    New York,Ny         1944       TRUE
14     14  66.0  $44k-$99k     4.0  Australia Aus         2020       TRUE
27     27  52.0  $44k-$99k     5.4       India,In         1935         -1
4       4  25.0  $44k-$99k     6.4  Australia Aus         2002         -1

In [24]:
Dataset.shape

(29, 7)

In [25]:
Dataset.head(27)

    Index   Age      Salary  Rating       Location  Established Easy Apply
0       0  44.0   $44k-$99k     5.4       India,In         1999       TRUE
1       1  66.0   $55k-$66k     3.5    New York,Ny         2002       TRUE
2       2  40.0   $77k-$89k    -1.0    New York,Ny           -1         -1
3       3  64.0   $44k-$99k     4.4       India In         1988         -1
4       4  25.0   $44k-$99k     6.4  Australia Aus         2002         -1
5       5  44.0   $77k-$89k     1.4       India,In         1999       TRUE
6       6  21.0   $44k-$99k     0.0    New York,Ny           -1         -1
7       7  44.0   $44k-$99k    -1.0  Australia Aus           -1         -1
8       8  35.0   $44k-$99k     5.4    New York,Ny           -1         -1
9       9  22.0   $44k-$99k     7.7       India,In           -1       TRUE
10     10  55.0   $10k-$49k     5.4       India,In         2008       TRUE
11     11  44.0   $10k-$49k     6.7       India,In         2009         -1
12     12  40.0   $44k-$99k     0.0       India,In         1999         -1
13     13  25.0   $44k-$99k    -1.0  Australia Aus         2019       TRUE
14     14  66.0   $44k-$99k     4.0  Australia Aus         2020       TRUE
15     15  44.0  $88k-$101k     3.0  Australia Aus         1999         -1
16     16  19.0   $19k-$40k     4.5       India,In         1984         -1
17     17  40.0   $44k-$99k     5.3    New York,Ny         1943       TRUE
18     18  35.0   $44k-$99k     6.7    New York,Ny         1954       TRUE
19     19  32.0   $44k-$99k     3.3    New York,Ny         1955       TRUE
20     20  40.0   $44k-$99k     5.7    New York,Ny         1944       TRUE
21     21  35.0   $44k-$99k     5.0    New York,Ny         1946         -1
22     22  19.0   $55k-$66k     7.8    New York,Ny         1988       TRUE
23     23  40.0   $44k-$99k     2.4    New York,Ny         1999       TRUE
24     24  13.0   $44k-$99k    -1.0    New York,Ny         1987         -1
25     25  55.0   $44k-$99k     0.0  Australia Aus         1980       TRUE
26     26  40.0   $55k-$66k     NaN       India,In         1934       TRUE

In [26]:
avg= Dataset['Rating'].median()
print(avg)

4.2

In [27]:
Dataset['Rating']=Dataset['Rating'].fillna(avg)

In [28]:
Dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Index        29 non-null     int64
 1   Age          29 non-null     object
 2   Salary       29 non-null     object
 3   Rating       29 non-null     float64
 4   Location     29 non-null     object
 5   Established  29 non-null     int64
 6   Easy Apply   29 non-null     object
dtypes: float64(1), int64(2), object(4)
memory usage: 1.7+ KB

In [29]:

Dataset['Rating']=np.where(Dataset['Rating']==-1.0,"Unknown",Dataset['Rating'])

In [30]:
Dataset.sample(10)

    Index   Age      Salary   Rating       Location  Established Easy Apply
1       1  66.0   $55k-$66k      3.5    New York,Ny         2002       TRUE
9       9  22.0   $44k-$99k      7.7       India,In           -1       TRUE
27     27  52.0   $44k-$99k      5.4       India,In         1935         -1
10     10  55.0   $10k-$49k      5.4       India,In         2008       TRUE
16     16  19.0   $19k-$40k      4.5       India,In         1984         -1
15     15  44.0  $88k-$101k      3.0  Australia Aus         1999         -1
8       8  35.0   $44k-$99k      5.4    New York,Ny           -1         -1
7       7  44.0   $44k-$99k  Unknown  Australia Aus           -1         -1
12     12  40.0   $44k-$99k      0.0       India,In         1999         -1
11     11  44.0   $10k-$49k      6.7       India,In         2009         -1

In [31]:
Dataset.isna().sum()

Index          0
Age            0
Salary         0
Rating         0
Location       0
Established    0
Easy Apply     0
dtype: int64

In [32]:
Dataset.head(27)

    Index   Age      Salary   Rating       Location  Established Easy Apply
0       0  44.0   $44k-$99k      5.4       India,In         1999       TRUE
1       1  66.0   $55k-$66k      3.5    New York,Ny         2002       TRUE
2       2  40.0   $77k-$89k  Unknown    New York,Ny           -1         -1
3       3  64.0   $44k-$99k      4.4       India In         1988         -1
4       4  25.0   $44k-$99k      6.4  Australia Aus         2002         -1
5       5  44.0   $77k-$89k      1.4       India,In         1999       TRUE
6       6  21.0   $44k-$99k      0.0    New York,Ny           -1         -1
7       7  44.0   $44k-$99k  Unknown  Australia Aus           -1         -1
8       8  35.0   $44k-$99k      5.4    New York,Ny           -1         -1
9       9  22.0   $44k-$99k      7.7       India,In           -1       TRUE
10     10  55.0   $10k-$49k      5.4       India,In         2008       TRUE
11     11  44.0   $10k-$49k      6.7       India,In         2009         -1
12     12  40.0   $44k-$99k      0.0       India,In         1999         -1
13     13  25.0   $44k-$99k  Unknown  Australia Aus         2019       TRUE
14     14  66.0   $44k-$99k      4.0  Australia Aus         2020       TRUE
15     15  44.0  $88k-$101k      3.0  Australia Aus         1999         -1
16     16  19.0   $19k-$40k      4.5       India,In         1984         -1
17     17  40.0   $44k-$99k      5.3    New York,Ny         1943       TRUE
18     18  35.0   $44k-$99k      6.7    New York,Ny         1954       TRUE
19     19  32.0   $44k-$99k      3.3    New York,Ny         1955       TRUE
20     20  40.0   $44k-$99k      5.7    New York,Ny         1944       TRUE
21     21  35.0   $44k-$99k      5.0    New York,Ny         1946         -1
22     22  19.0   $55k-$66k      7.8    New York,Ny         1988       TRUE
23     23  40.0   $44k-$99k      2.4    New York,Ny         1999       TRUE
24     24  13.0   $44k-$99k  Unknown    New York,Ny         1987         -1
25     25  55.0   $44k-$99k      0.0  Australia Aus         1980       TRUE
26     26  40.0   $55k-$66k      4.2       India,In         1934       TRUE

In [33]:
Dataset.shape

(29, 7)

In [34]:
lambda x:x.replace("$","")

In [35]:
Dataset['Salary']=Dataset['Salary'].apply(lambda x:x.replace("$",""))

In [36]:
print(Dataset['Salary'])

0      44k-99k
1      55k-66k
2      77k-89k
3      44k-99k
4      44k-99k
5      77k-89k
6      44k-99k
7      44k-99k
8      44k-99k
9      44k-99k
10     10k-49k
11     10k-49k
12     44k-99k
13     44k-99k
14     44k-99k
15    88k-101k
16     19k-40k
17     44k-99k
18     44k-99k
19     44k-99k
20     44k-99k
21     44k-99k
22     55k-66k
23     44k-99k
24     44k-99k
25     44k-99k
26     55k-66k
27     44k-99k
28     39k-88k
Name: Salary, dtype: object

In [37]:
Dataset['Salary']=Dataset['Salary'].apply(lambda x:x.replace("k","000"))
print(Dataset['Salary'])

0      44000-99000
1      55000-66000
2      77000-89000
3      44000-99000
4      44000-99000
5      77000-89000
6      44000-99000
7      44000-99000
8      44000-99000
9      44000-99000
10     10000-49000
11     10000-49000
12     44000-99000
13     44000-99000
14     44000-99000
15    88000-101000
16     19000-40000
17     44000-99000
18     44000-99000
19     44000-99000
20     44000-99000
21     44000-99000
22     55000-66000
23     44000-99000
24     44000-99000
25     44000-99000
26     55000-66000
27     44000-99000
28     39000-88000
Name: Salary, dtype: object

In [38]:
Dataset.head(10)

   Index   Age       Salary   Rating       Location  Established Easy Apply
0      0  44.0  44000-99000      5.4       India,In         1999       TRUE
1      1  66.0  55000-66000      3.5    New York,Ny         2002       TRUE
2      2  40.0  77000-89000  Unknown    New York,Ny           -1         -1
3      3  64.0  44000-99000      4.4       India In         1988         -1
4      4  25.0  44000-99000      6.4  Australia Aus         2002         -1
5      5  44.0  77000-89000      1.4       India,In         1999       TRUE
6      6  21.0  44000-99000      0.0    New York,Ny           -1         -1
7      7  44.0  44000-99000  Unknown  Australia Aus           -1         -1
8      8  35.0  44000-99000      5.4    New York,Ny           -1         -1
9      9  22.0  44000-99000      7.7       India,In           -1       TRUE

In [39]:
Dataset['Established'].median()

1984.0

In [40]:
Dataset['Established'].mode()

0      -1
1    1999
Name: Established, dtype: int64

In [41]:
Dataset['Established'].mean()

1638.6206896551723

In [42]:
Dataset.head(11)

    Index   Age       Salary   Rating       Location  Established Easy Apply
0       0  44.0  44000-99000      5.4       India,In         1999       TRUE
1       1  66.0  55000-66000      3.5    New York,Ny         2002       TRUE
2       2  40.0  77000-89000  Unknown    New York,Ny           -1         -1
3       3  64.0  44000-99000      4.4       India In         1988         -1
4       4  25.0  44000-99000      6.4  Australia Aus         2002         -1
5       5  44.0  77000-89000      1.4       India,In         1999       TRUE
6       6  21.0  44000-99000      0.0    New York,Ny           -1         -1
7       7  44.0  44000-99000  Unknown  Australia Aus           -1         -1
8       8  35.0  44000-99000      5.4    New York,Ny           -1         -1
9       9  22.0  44000-99000      7.7       India,In           -1       TRUE
10     10  55.0  10000-49000      5.4       India,In         2008       TRUE

In [43]:
year =Dataset[Dataset['Established']!= -1]
year

    Index   Age        Salary   Rating       Location  Established Easy Apply
0       0  44.0   44000-99000      5.4       India,In         1999       TRUE
1       1  66.0   55000-66000      3.5    New York,Ny         2002       TRUE
3       3  64.0   44000-99000      4.4       India In         1988         -1
4       4  25.0   44000-99000      6.4  Australia Aus         2002         -1
5       5  44.0   77000-89000      1.4       India,In         1999       TRUE
10     10  55.0   10000-49000      5.4       India,In         2008       TRUE
11     11  44.0   10000-49000      6.7       India,In         2009         -1
12     12  40.0   44000-99000      0.0       India,In         1999         -1
13     13  25.0   44000-99000  Unknown  Australia Aus         2019       TRUE
14     14  66.0   44000-99000      4.0  Australia Aus         2020       TRUE
15     15  44.0  88000-101000      3.0  Australia Aus         1999         -1
16     16  19.0   19000-40000      4.5       India,In         1984         -1
17     17  40.0   44000-99000      5.3    New York,Ny         1943       TRUE
18     18  35.0   44000-99000      6.7    New York,Ny         1954       TRUE
19     19  32.0   44000-99000      3.3    New York,Ny         1955       TRUE
20     20  40.0   44000-99000      5.7    New York,Ny         1944       TRUE
21     21  35.0   44000-99000      5.0    New York,Ny         1946         -1
22     22  19.0   55000-66000      7.8    New York,Ny         1988       TRUE
23     23  40.0   44000-99000      2.4    New York,Ny         1999       TRUE
24     24  13.0   44000-99000  Unknown    New York,Ny         1987         -1
25     25  55.0   44000-99000      0.0  Australia Aus         1980       TRUE
26     26  40.0   55000-66000      4.2       India,In         1934       TRUE
27     27  52.0   44000-99000      5.4       India,In         1935         -1
28     28  40.0   39000-88000      3.4  Australia Aus         1932         -1

In [44]:
Dataset.shape

(29, 7)

In [45]:

Dataset['Established']=np.where(Dataset['Established']==-1,"Unknown",Dataset['Established'])

In [46]:
Dataset.head()

   Index   Age       Salary   Rating       Location Established Easy Apply
0      0  44.0  44000-99000      5.4       India,In        1999       TRUE
1      1  66.0  55000-66000      3.5    New York,Ny        2002       TRUE
2      2  40.0  77000-89000  Unknown    New York,Ny     Unknown         -1
3      3  64.0  44000-99000      4.4       India In        1988         -1
4      4  25.0  44000-99000      6.4  Australia Aus        2002         -1

In [47]:
Dataset['Easy Apply']

0     TRUE
1     TRUE
2       -1
3       -1
4       -1
5     TRUE
6       -1
7       -1
8       -1
9     TRUE
10    TRUE
11      -1
12      -1
13    TRUE
14    TRUE
15      -1
16      -1
17    TRUE
18    TRUE
19    TRUE
20    TRUE
21      -1
22    TRUE
23    TRUE
24      -1
25    TRUE
26    TRUE
27      -1
28      -1
Name: Easy Apply, dtype: object

In [48]:
Dataset['Easy Apply']=Dataset['Easy Apply'].apply(lambda y:y.replace("-1","FALSE"))
print(Dataset['Easy Apply'])

0      TRUE
1      TRUE
2     FALSE
3     FALSE
4     FALSE
5      TRUE
6     FALSE
7     FALSE
8     FALSE
9      TRUE
10     TRUE
11    FALSE
12    FALSE
13     TRUE
14     TRUE
15    FALSE
16    FALSE
17     TRUE
18     TRUE
19     TRUE
20     TRUE
21    FALSE
22     TRUE
23     TRUE
24    FALSE
25     TRUE
26     TRUE
27    FALSE
28    FALSE
Name: Easy Apply, dtype: object

In [49]:
Dataset.head(6)

   Index   Age       Salary   Rating       Location Established Easy Apply
0      0  44.0  44000-99000      5.4       India,In        1999       TRUE
1      1  66.0  55000-66000      3.5    New York,Ny        2002       TRUE
2      2  40.0  77000-89000  Unknown    New York,Ny     Unknown      FALSE
3      3  64.0  44000-99000      4.4       India In        1988      FALSE
4      4  25.0  44000-99000      6.4  Australia Aus        2002      FALSE
5      5  44.0  77000-89000      1.4       India,In        1999       TRUE

In [50]:
year =Dataset[Dataset['Established']!= -1]
year

    Index   Age        Salary   Rating       Location Established Easy Apply
0       0  44.0   44000-99000      5.4       India,In        1999       TRUE
1       1  66.0   55000-66000      3.5    New York,Ny        2002       TRUE
2       2  40.0   77000-89000  Unknown    New York,Ny     Unknown      FALSE
3       3  64.0   44000-99000      4.4       India In        1988      FALSE
4       4  25.0   44000-99000      6.4  Australia Aus        2002      FALSE
5       5  44.0   77000-89000      1.4       India,In        1999       TRUE
6       6  21.0   44000-99000      0.0    New York,Ny     Unknown      FALSE
7       7  44.0   44000-99000  Unknown  Australia Aus     Unknown      FALSE
8       8  35.0   44000-99000      5.4    New York,Ny     Unknown      FALSE
9       9  22.0   44000-99000      7.7       India,In     Unknown       TRUE
10     10  55.0   10000-49000      5.4       India,In        2008       TRUE
11     11  44.0   10000-49000      6.7       India,In        2009      FALSE
12     12  40.0   44000-99000      0.0       India,In        1999      FALSE
13     13  25.0   44000-99000  Unknown  Australia Aus        2019       TRUE
14     14  66.0   44000-99000      4.0  Australia Aus        2020       TRUE
15     15  44.0  88000-101000      3.0  Australia Aus        1999      FALSE
16     16  19.0   19000-40000      4.5       India,In        1984      FALSE
17     17  40.0   44000-99000      5.3    New York,Ny        1943       TRUE
18     18  35.0   44000-99000      6.7    New York,Ny        1954       TRUE
19     19  32.0   44000-99000      3.3    New York,Ny        1955       TRUE
20     20  40.0   44000-99000      5.7    New York,Ny        1944       TRUE
21     21  35.0   44000-99000      5.0    New York,Ny        1946      FALSE
22     22  19.0   55000-66000      7.8    New York,Ny        1988       TRUE
23     23  40.0   44000-99000      2.4    New York,Ny        1999       TRUE
24     24  13.0   44000-99000  Unknown    New York,Ny        1987      FALSE
25     25  55.0   44000-99000      0.0  Australia Aus        1980       TRUE
26     26  40.0   55000-66000      4.2       India,In        1934       TRUE
27     27  52.0   44000-99000      5.4       India,In        1935      FALSE
28     28  40.0   39000-88000      3.4  Australia Aus        1932      FALSE

In [51]:
Dataset.head()

   Index   Age       Salary   Rating       Location Established Easy Apply
0      0  44.0  44000-99000      5.4       India,In        1999       TRUE
1      1  66.0  55000-66000      3.5    New York,Ny        2002       TRUE
2      2  40.0  77000-89000  Unknown    New York,Ny     Unknown      FALSE
3      3  64.0  44000-99000      4.4       India In        1988      FALSE
4      4  25.0  44000-99000      6.4  Australia Aus        2002      FALSE

In [52]:
Dataset['Location']=Dataset['Location'].str.replace("Australia Aus","Australia,Aus")
Dataset['Location']=Dataset['Location'].str.replace("India In","India,In")

In [53]:
Dataset.head()

   Index   Age       Salary   Rating       Location Established Easy Apply
0      0  44.0  44000-99000      5.4       India,In        1999       TRUE
1      1  66.0  55000-66000      3.5    New York,Ny        2002       TRUE
2      2  40.0  77000-89000  Unknown    New York,Ny     Unknown      FALSE
3      3  64.0  44000-99000      4.4       India,In        1988      FALSE
4      4  25.0  44000-99000      6.4  Australia,Aus        2002      FALSE

In [54]:
Dataset['Location']=Dataset['Location'].str.split("," ,expand=True).get(0)
Dataset.head()

   Index   Age       Salary   Rating   Location Established Easy Apply
0      0  44.0  44000-99000      5.4      India        1999       TRUE
1      1  66.0  55000-66000      3.5   New York        2002       TRUE
2      2  40.0  77000-89000  Unknown   New York     Unknown      FALSE
3      3  64.0  44000-99000      4.4      India        1988      FALSE
4      4  25.0  44000-99000      6.4  Australia        2002      FALSE

PROJECT 1

In [56]:
import numpy as np
import pandas as pd
Dataset = pd.read_csv('/content/Data-cleaning-for-beginners-using-pandas (1).csv')
avg = Dataset['Age'].median()
Dataset['Rating']=Dataset['Rating'].fillna(avg)
Dataset['Age']=Dataset['Age'].round().astype(object)
avg= Dataset['Rating'].median()
print(avg)
Dataset['Rating']=Dataset['Rating'].fillna(avg)
Dataset['Rating']=np.where(Dataset['Rating']==-1.0,"Unknown",Dataset['Rating'])
Dataset['Salary']=Dataset['Salary'].apply(lambda x:x.replace("$",""))
Dataset['Salary']=Dataset['Salary'].apply(lambda x:x.replace("k","000"))
year =Dataset[Dataset['Established']!= -1]
print(year)
Dataset['Established']=np.where(Dataset['Established']==-1,"Unknown",Dataset['Established'])
Dataset['Location']=Dataset['Location'].str.replace("Australia Aus","Australia,Aus")
Dataset['Location']=Dataset['Location'].str.replace("India In","India,In")
Dataset['Location']=Dataset['Location'].str.split("," ,expand=True).get(0)
Dataset['Easy Apply']=Dataset['Easy Apply'].apply(lambda y:y.replace("-1","FALSE"))

Dataset.head(29)

4.4
    Index   Age        Salary   Rating       Location  Established Easy Apply
0       0  44.0   44000-99000      5.4       India,In         1999       TRUE
1       1  66.0   55000-66000      3.5    New York,Ny         2002       TRUE
3       3  64.0   44000-99000      4.4       India In         1988         -1
4       4  25.0   44000-99000      6.4  Australia Aus         2002         -1
5       5  44.0   77000-89000      1.4       India,In         1999       TRUE
10     10  55.0   10000-49000      5.4       India,In         2008       TRUE
11     11  44.0   10000-49000      6.7       India,In         2009         -1
12     12   NaN   44000-99000      0.0       India,In         1999         -1
13     13  25.0   44000-99000  Unknown  Australia Aus         2019       TRUE
14     14  66.0   44000-99000      4.0  Australia Aus         2020       TRUE
15     15  44.0  88000-101000      3.0  Australia Aus         1999         -1
16     16  19.0   19000-40000      4.5       India,In         1984         -1
17     17   NaN   44000-99000      5.3    New York,Ny         1943       TRUE
18     18  35.0   44000-99000      6.7    New York,Ny         1954       TRUE
19     19  32.0   44000-99000      3.3    New York,Ny         1955       TRUE
20     20   NaN   44000-99000      5.7    New York,Ny         1944       TRUE
21     21  35.0   44000-99000      5.0    New York,Ny         1946         -1
22     22  19.0   55000-66000      7.8    New York,Ny         1988       TRUE
23     23   NaN   44000-99000      2.4    New York,Ny         1999       TRUE
24     24  13.0   44000-99000  Unknown    New York,Ny         1987         -1
25     25  55.0   44000-99000      0.0  Australia Aus         1980       TRUE
26     26   NaN   55000-66000     39.5       India,In         1934       TRUE
27     27  52.0   44000-99000      5.4       India,In         1935         -1
28     28   NaN   39000-88000      3.4  Australia Aus         1932         -1

    Index   Age        Salary   Rating   Location Established Easy Apply
0       0  44.0   44000-99000      5.4      India        1999       TRUE
1       1  66.0   55000-66000      3.5   New York        2002       TRUE
2       2   NaN   77000-89000  Unknown   New York     Unknown      FALSE
3       3  64.0   44000-99000      4.4      India        1988      FALSE
4       4  25.0   44000-99000      6.4  Australia        2002      FALSE
5       5  44.0   77000-89000      1.4      India        1999       TRUE
6       6  21.0   44000-99000      0.0   New York     Unknown      FALSE
7       7  44.0   44000-99000  Unknown  Australia     Unknown      FALSE
8       8  35.0   44000-99000      5.4   New York     Unknown      FALSE
9       9  22.0   44000-99000      7.7      India     Unknown       TRUE
10     10  55.0   10000-49000      5.4      India        2008       TRUE
11     11  44.0   10000-49000      6.7      India        2009      FALSE
12     12   NaN   44000-99000      0.0      India        1999      FALSE
13     13  25.0   44000-99000  Unknown  Australia        2019       TRUE
14     14  66.0   44000-99000      4.0  Australia        2020       TRUE
15     15  44.0  88000-101000      3.0  Australia        1999      FALSE
16     16  19.0   19000-40000      4.5      India        1984      FALSE
17     17   NaN   44000-99000      5.3   New York        1943       TRUE
18     18  35.0   44000-99000      6.7   New York        1954       TRUE
19     19  32.0   44000-99000      3.3   New York        1955       TRUE
20     20   NaN   44000-99000      5.7   New York        1944       TRUE
21     21  35.0   44000-99000      5.0   New York        1946      FALSE
22     22  19.0   55000-66000      7.8   New York        1988       TRUE
23     23   NaN   44000-99000      2.4   New York        1999       TRUE
24     24  13.0   44000-99000  Unknown   New York        1987      FALSE
25     25  55.0   44000-99000      0.0  Australia        1980       TRUE
26     26   NaN   55000-66000     39.5      India        1934       TRUE
27     27  52.0   44000-99000      5.4      India        1935      FALSE
28     28   NaN   39000-88000      3.4  Australia        1932      FALSE